<!DOCTYPE html>
<html>
<head>
	<title>Chew and Review</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Chew and Review</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:3308/viewTables/login">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Main content -->
	<div class="container my-5">
		<h1>Menu</h1>
		<p>Here are the items available:</p>

		<!-- Query list -->
		<div class="container mt-8">
		  <table class="table">
		    <thead>
		      <tr>
		        <th>Item ID</th>
		        <th>Item Name</th>
				<th>Item Type</th>
		        <th>Item Price</th>
		        <th>Description</th>
		        <th>Item Availability</th>
		        <th>Cuisines</th>
		      </tr>
		    </thead>
		    <tbody>
		      {{#each data}}
				<tr>
					<td>{{this.item_id}}</td>
					<td>{{this.item_name}}</td>
					<td>{{this.item_type}}</td>
					<td>{{this.item_price}}</td>
					<td>{{this.item_desc}}</td>
					<td>{{this.item_avail}}</td>
					<td>{{this.cuisines}}</td>
				</tr>
		      {{/each}}
		    </tbody>
		  </table>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
